
    <!-- patterns.html -->
    <!-- This is a generated file -->
    
    <ul class="design-patterns">
      
            <li class="design-pattern design-pattern-accordion">
              <a href="accordion" style="text-decoration: none;">
                <h2 class="design-pattern-name">Accordion (Sections With Show/Hide Functionality)</h2>
                <div class="design-pattern-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or thumbnail representing a section of content.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-alert">
              <a href="alert" style="text-decoration: none;">
                <h2 class="design-pattern-name">Alert</h2>
                <div class="design-pattern-introduction">
        An alert is an element that displays a brief, important message in a way that attracts the user's attention without interrupting the user's task.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-alertdialog">
              <a href="alertdialog" style="text-decoration: none;">
                <h2 class="design-pattern-name">Alert and Message Dialogs</h2>
                <div class="design-pattern-introduction">
        An alert dialog  is a modal dialog that interrupts the user's workflow to communicate an important message and acquire a response.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-breadcrumb">
              <a href="breadcrumb" style="text-decoration: none;">
                <h2 class="design-pattern-name">Breadcrumb</h2>
                <div class="design-pattern-introduction">
        A breadcrumb trail consists of a list of links to the parent pages of the current page in hierarchical order.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-button">
              <a href="button" style="text-decoration: none;">
                <h2 class="design-pattern-name">Button</h2>
                <div class="design-pattern-introduction">
        A button is a widget that enables users to trigger an action or event, such as submitting a form, opening a dialog, canceling an action, or performing a delete operation.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-carousel">
              <a href="carousel" style="text-decoration: none;">
                <h2 class="design-pattern-name">Carousel (Slide Show or Image Rotator)</h2>
                <div class="design-pattern-introduction">
        A carousel presents a set of items, referred to as slides, by sequentially displaying a subset of one or more slides.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-checkbox">
              <a href="checkbox" style="text-decoration: none;">
                <h2 class="design-pattern-name">Checkbox</h2>
                <div class="design-pattern-introduction"><!-- The following is manually overridden by the pre-build script -->
WAI-ARIA supports two types of checkbox widgets: dual-state allows the user to toggle between two  choices -- checked and not checked -- and tri-state supports an additional third state known as partially checked.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-combobox">
              <a href="combobox" style="text-decoration: none;">
                <h2 class="design-pattern-name">Combobox</h2>
                <div class="design-pattern-introduction">
        A combobox is an input widget with an associated popup that enables users to select a value for the combobox from a collection of possible values.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-dialogmodal">
              <a href="dialogmodal" style="text-decoration: none;">
                <h2 class="design-pattern-name">Dialog (Modal)</h2>
                <div class="design-pattern-introduction">
        A dialog is a window overlaid on either the primary window or another dialog window.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-disclosure">
              <a href="disclosure" style="text-decoration: none;">
                <h2 class="design-pattern-name">Disclosure (Show/Hide)</h2>
                <div class="design-pattern-introduction">
        A disclosure is a button that controls visibility of a section of content.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-feed">
              <a href="feed" style="text-decoration: none;">
                <h2 class="design-pattern-name">Feed</h2>
                <div class="design-pattern-introduction">
        A feed is a section of a page that automatically loads new sections of content as the user scrolls.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-grid">
              <a href="grid" style="text-decoration: none;">
                <h2 class="design-pattern-name">Grids : Interactive Tabular Data and Layout Containers</h2>
                <div class="design-pattern-introduction">
        A grid widget is a container that enables users to navigate the information or interactive elements it contains using directional navigation keys, such as arrow keys, <kbd>Home</kbd>, and <kbd>End</kbd>.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-link">
              <a href="link" style="text-decoration: none;">
                <h2 class="design-pattern-name">Link</h2>
                <div class="design-pattern-introduction">
        A link widget provides an interactive reference to a resource.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-listbox">
              <a href="listbox" style="text-decoration: none;">
                <h2 class="design-pattern-name">Listbox</h2>
                <div class="design-pattern-introduction">
        A listbox widget presents a list of options and allows a user to select one or more of them.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-menu">
              <a href="menu" style="text-decoration: none;">
                <h2 class="design-pattern-name">Menu or Menu bar</h2>
                <div class="design-pattern-introduction">
        A menu is a widget that offers a list of choices to the user, such as a set of actions or functions.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-menubutton">
              <a href="menubutton" style="text-decoration: none;">
                <h2 class="design-pattern-name">Menu Button</h2>
                <div class="design-pattern-introduction">A menu button is a button that opens a menu.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-meter">
              <a href="meter" style="text-decoration: none;">
                <h2 class="design-pattern-name">Meter</h2>
                <div class="design-pattern-introduction">
        A meter is a graphical display of a numeric value that varies within a defined range.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-radiobutton">
              <a href="radiobutton" style="text-decoration: none;">
                <h2 class="design-pattern-name">Radio Group</h2>
                <div class="design-pattern-introduction">
        A radio group is a set of checkable buttons, known as radio buttons, where no more than one of
        the buttons can be checked at a time.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-slider">
              <a href="slider" style="text-decoration: none;">
                <h2 class="design-pattern-name">Slider</h2>
                <div class="design-pattern-introduction">
        A slider is an input where the user selects a value from within a given range.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-slidertwothumb">
              <a href="slidertwothumb" style="text-decoration: none;">
                <h2 class="design-pattern-name">Slider (Multi-Thumb)</h2>
                <div class="design-pattern-introduction">
        A multi-thumb slider is a slider
        with two or more thumbs that each set a value in a group of related values.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-spinbutton">
              <a href="spinbutton" style="text-decoration: none;">
                <h2 class="design-pattern-name">Spinbutton</h2>
                <div class="design-pattern-introduction">
        A spinbutton is an input widget that restricts its value to a set or range of discrete values.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-table">
              <a href="table" style="text-decoration: none;">
                <h2 class="design-pattern-name">Table</h2>
                <div class="design-pattern-introduction">
        Like an HTML <code>table</code> element, a WAI-ARIA table is a static tabular structure containing one or more rows that each contain one or more cells; it is not an interactive widget.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-tabpanel">
              <a href="tabpanel" style="text-decoration: none;">
                <h2 class="design-pattern-name">Tabs</h2>
                <div class="design-pattern-introduction">
        Tabs are a set of layered sections of content, known as tab panels, that display one panel of content at a time.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-toolbar">
              <a href="toolbar" style="text-decoration: none;">
                <h2 class="design-pattern-name">Toolbar</h2>
                <div class="design-pattern-introduction">A toolbar is a container for grouping a set of controls, such as buttons, menubuttons, or checkboxes.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-tooltip">
              <a href="tooltip" style="text-decoration: none;">
                <h2 class="design-pattern-name">Tooltip Widget</h2>
                <div class="design-pattern-introduction">
        A tooltip is a popup that displays information related to an element when the element receives keyboard focus or the mouse hovers over it.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-treeview">
              <a href="treeview" style="text-decoration: none;">
                <h2 class="design-pattern-name">Tree View</h2>
                <div class="design-pattern-introduction">
        A tree view widget presents a hierarchical list.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-treegrid">
              <a href="treegrid" style="text-decoration: none;">
                <h2 class="design-pattern-name">Treegrid</h2>
                <div class="design-pattern-introduction">
          A treegrid widget presents a hierarchical data grid consisting of tabular information that is editable or interactive.</div>
              </a>
            </li>
           
            <li class="design-pattern design-pattern-windowsplitter">
              <a href="windowsplitter" style="text-decoration: none;">
                <h2 class="design-pattern-name">Window Splitter</h2>
                <div class="design-pattern-introduction">
        A window splitter is a moveable separator between two sections, or panes, of a window that enables users to change the relative size of the panes.</div>
              </a>
            </li>
          
    </ul>
  
  